.reportview-container {
        /* background-image: linear-gradient(to bottom right, #B7F8DB , #50A7C2); */
        background-color: rgb(44, 44, 44);
        color: rgb(230, 230, 230);
    }
    .css-1l02zno {
        background-color: #bbc;
        color: #cc3f35;
    }
    h1, h2, h3{
        color: rgb(255, 255, 255);
    }

    local_css('style.css')

    from datetime import datetime, timedelta

d = datetime.today() - timedelta(days=days_to_subtract)
